html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

                    /*HEADER*/
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 25px;
}

#navbar a {
    padding: 10px 5px 5px 5px;
    color: black;
    text-decoration: none;
    font: 13px arial, sans-serif;
}

#navbar a:hover {
    text-decoration: underline;
    color: rgb(65, 64, 64);
}

.fa-th {
    display: flex;
    font-size: 22px;
    margin-top: auto;
}

#sign-in {
    background-color: rgb(69, 111, 236);
    height: 30px;
    width: 100px;
    border: none;
    margin: 2px;
}

#sign-in a {
    color: white;
    font-weight: bold;
}

                    /*MAIN*/
#logo {
    display: flex;
    justify-content: center;
    padding: 109px 0px 25px 0px;
}

#search-bar {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin: 0 auto 25px;
    height: 45px;
    width: 480px;
}

#search-bar:hover {
    box-shadow: 0px 0px 5px 0.5px #b4b4b4;
}

#search-input {
   justify-content: center;
   border: none;
   width: 420px;
   margin: 10px;
}

#search-input:focus {
    outline: none;
}

.fa-search {
    padding: 15px 0px 0px 15px;
    color: gray;
}

#submit-buttons {
    display: flex;
    justify-content: center;
}

.submit {
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 10px 15px 15px 15px;
    margin: 0px 5px 10px 5px;
    color: rgb(99, 96, 96);
    font: 14px arial, sans-serif;
}

.submit:hover {
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px 0.05px #b4b4b4;
    cursor: pointer;
}

#language-links {
    display: flex;
    justify-content: center;
}

#language-links a {
    font: 13px arial, sans-serif;
    text-decoration: none;
    padding: 3px;
}

#language-links a:hover {
    text-decoration: underline;
}

#offered {
    font: 13px arial, sans-serif;
}

                    /*FOOTER*/

#geotag {
    padding: 0px 5px 0px 30px;
    background-color: rgb(235, 235, 235);
    height: 40px;
    border: 1px solid lightgray;
    color: rgb(99, 96, 96);
    font: 14.8px arial, sans-serif;
}
#footer-links {
    display: flex;
    background-color: rgb(235, 235, 235);
    height: 40px;
    align-items: center;
}
#footer-links a {
    color: rgb(99, 96, 96);
    text-decoration: none;
    font: 14.8px arial, sans-serif;
}

#footer-links a:hover {
    text-decoration: underline;
}

#advertising {
    padding: 10px 10px 10px 30px;
}
#business {
    padding: 10px;
}
#about {
    padding: 10px;
}
#how-search-works {
    padding: 10px;
}
#privacy {
    padding: 10px;
    margin-left: auto;
}
#terms{
    padding: 10px 30px 10px 10px;
}

#content {
    flex: 1;
}